<div id="<%= dom_id pedido %>">
  <p>
    <strong>Tabla:</strong>
    <%= pedido.tabla %>
  </p>

  <p>
    <strong>Trucks:</strong>
    <%= pedido.trucks %>
  </p>

  <p>
    <strong>Ruedas:</strong>
    <%= pedido.ruedas %>
  </p>

  <p>
    <strong>Rulemanes:</strong>
    <%= pedido.rulemanes %>
  </p>

  <p>
    <strong>Lija:</strong>
    <%= pedido.lija %>
  </p>

  <p>
    <strong>Hardware:</strong>
    <%= pedido.hardware %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= pedido.nombre %>
  </p>

</div>
