<div id="<%= dom_id producto %>">
  <p>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= producto.precio %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= producto.marca %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= producto.tipo %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= producto.img %>
  </p>

</div>
